<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practiceel_2</title>
    <link rel="stylesheet" href="p2.css">
</head>
<body>
    
    <div id="header"></div>
    <div id="navigator">
        <ul id="navigator">
            <li><a href="#">首页</a></li>
            <li><a href="#">文章</a></li>
            <li><a href="#">相册</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">论坛</a></li>
            <li><a href="#">帮助</a></li>
        </ul>
    </div>
    <div id="content">
        <h3>前言</h3>
        <p>CSS 即层叠样式表Cascading Style Sheets,是一种用于描述 HTML 或 XML包括如 SVG、XHTML 之类的 XML 分支语言文档外观和格式的样式表语言。</p>
        <h3>理解DIV+CSS布局</h3>
        <p>DIV + CSS 布局是一种网页设计技术，它利用 HTML 中的 div 元素作为页面结构的容器，通过 CSS层叠样式表来控制这些 div 元素的外观、位置和大小，以实现网页的整体布局。</p>
    </div>
    <div id="footer">
        <p>关于|广告服务|招聘|客服中心|QQ留言|网站管理|会员登陆|购物车</p>
    <p>Copyright @SXIT</p>
    </div>
    
</body>
</html>